<div class="main-content">
    <div class="breadcrumbs" id="breadcrumbs">
        <script type="text/javascript">
          try{ace.settings.check('breadcrumbs' , 'fixed')}catch(e){}
        </script>
        <ul class="breadcrumb">
            <li>
                <a href="{:U('admin/index/main')}">首页</a>
            </li>
            <li class="active">个人信息</li>
        </ul><!-- .breadcrumb -->
</div>

    <div class="table_con">

        <form method="post" id='subform' enctype="multipart/form-data">
        <table>
            <tr>
                <td width="10%">商品名：</td>
                <td ><input name="name" type="text" value=""></td>
            </tr>
            <tr>
                <td>图片：</td>
                 <td >
                    <img width='150px' style="float:left;margin:10px;" height='100px' src="__PUBLIC__/img/photo.gif">
                    <input type="button" style="width:10%;margin-top: 70px" class="btn btn-sm" id="file" value="选择文件"/>
                    <input id="uploadFile" type="file" style="display: none;" name="photo" />
                    <input id="filePath" type="hidden" name="picture_url" >
                    <label>(规格：338x184)</label>
                </td>
            </tr>
            <tr>
                <td>产品详情：<br><label>(规格：352x206)</label></td>
                <td>
                    <img style="float:left;margin:10px" width='150px' height='100px' src="__PUBLIC__/img/photo.gif">
                    <input type="button" style="width:6%;margin-top: 70px" class="btn btn-sm file" id="file" value="选择文件"/>
                    <input id="uploadFile1" type="file" style="display: none;" name="photo" />
                    <input id="filePath" type="hidden" value="{$data['picture_url']}" name="details_picture1" >
                    <img style="float:left;margin:10px" width='150px' height='100px' src="__PUBLIC__/img/photo.gif">
                    <input type="button" style="width:6%;margin-top: 70px" class="btn btn-sm file" id="file" value="选择文件"/>
                    <input id="uploadFile2" type="file" style="display: none;" name="photo" />
                    <input id="filePath" type="hidden" value="{$data['picture_url']}" name="details_picture2" >
                    <img style="float:left;margin:10px" width='150px' height='100px' src="__PUBLIC__/img/photo.gif">
                    <input type="button" style="width:6%;margin-top: 70px" class="btn btn-sm file" id="file" value="选择文件"/>
                    <input id="uploadFile3" type="file" style="display: none;" name="photo" />
                    <input id="filePath" type="hidden" value="{$data['picture_url']}" name="details_picture3" >
                    <img style="float:left;margin:10px" width='150px' height='100px' src="__PUBLIC__/img/photo.gif">
                    <input type="button" style="width:6%;margin-top: 70px" class="btn btn-sm file" id="file" value="选择文件"/>
                    <input id="uploadFile4" type="file" style="display: none;" name="photo" />
                    <input id="filePath" type="hidden" value="{$data['picture_url']}" name="details_picture4" >
                </td>
            </tr>   
            <tr>
                <td>标题：</td>
                <td >
                    <input name="headline" type="text" value="">
                </td>
            </tr>
            <tr>
                <td>配置信息：</td>
                <td>
                   <input name="conf_infor" type="text" value="">
                 </td>
            </tr>
            <tr>
                <td>收费方式：</td>
                <td >
                    <div id="priceWay">
                        <div class="clearfix"></div>
                    </div>  
                    <input type="button" class="btn btn-primary btn-xs" value="增加一行" id="addColumn" style ="width:80px">
                </td>
            </tr> 
            <tr>
                <td >简介：</td> 
                <td >
                  <input name="abstract" type="text" value="">
                </td>
            </tr> 
           <tr>
                <td>购买价格：</td>
                <td >
                    <input name="price" type="text" value="{$data['price']}">
                </td>
            </tr> 
            <tr>
                <td >押金：</td> 
                <td >
                  <input name="ps_price" type="text" value="">
                </td>
            </tr> 
            <tr>
                <td >存货：</td> 
                <td >
                  <input name="stock" type="text" value="">
                </td>
            </tr> 
            <tr>
                <td>配送费：</td>
                <td >
                    <input name="delivery" type="text" value="">
                </td>
            </tr>
            <tr>
                <td>
                    <input id="sub" type="button" value="提交" style=" border:none;background-color:#0066FF; color:#ffffff; width:100px; text-align:center; height:40px; line-height:37px;" />
                </td>
            </tr>
   </table>
        </form>
    </div>
</div><!-- /.main-content -->

<script type="text/javascript">
    $('.file').click(function() {
      $(this).next().click();
    })
    $('#uploadFile1').fileupload({
        url: '{:U("index/upload")}',
        dataType: 'json',
        done: function(e,data) {
            $(this).prev().prev().attr('src',data.result);
            $(this).next.val(data.result);
        }
    })
    $('#uploadFile2').fileupload({
        url: '{:U("index/upload")}',
        dataType: 'json',
        done: function(e,data) {
            $(this).prev().prev().attr('src',data.result);
            $(this).next.val(data.result);
        }
    })
    $('#uploadFile3').fileupload({
        url: '{:U("index/upload")}',
        dataType: 'json',
        done: function(e,data) {
            $(this).prev().prev().attr('src',data.result);
            $(this).next.val(data.result);
        }
    })
    $('#uploadFile4').fileupload({
        url: '{:U("index/upload")}',
        dataType: 'json',
        done: function(e,data) {
            $(this).prev().prev().attr('src',data.result);
            $(this).next.val(data.result);
        }
    })
    $('#addColumn').on('click', function() {
        var append = "<div class='clearfix'>"
                   + "<span style='float: left;'>天数：</span>"
                   + "<input style='width:50px;height:25px;float: left;margin-top:7px;' name='time' type='text' value=''>"
                   + "<span style='float: left;'>天</span>"
                   + "<span style='float: left;'>价格：</span>"
                   + "<input style='width:50px;height:25px;float: left;margin-top:7px;' name='price' type='text' value=''>"
                   + "<span style='float: left;'>元</span>"
                   + "<input id='del' style='float: left;width:18px;height:5px;margin-top: 17px' class='btn btn-xs btn-danger' type='button'>"
                   + "</div>";
        $('#priceWay').append(append); 
    })
    $('body').on('click', '#del', function() {
        $(this).parents('.clearfix').remove();
    })
    $('#sub').on('click', function() {
        // var priceWay = $('#priceWay');
        if(!check()) return false;
        var form = $('form');
        var priceWay = new Array;
        $('.clearfix').each(function() {
            var time = $(this).find('[name="time"]').val();
            var price = $(this).find('[name="price"]').val();
            var data = {
                'time': time,
                'price': price
            }
            priceWay.push(data);
        });
        priceWay = JSON.stringify(priceWay);
        var formData = {
            name: $('[name="name"]').val(),
            picture_url: $('[name="picture_url"]').val(),
            headline: $('[name="headline"]').val(),
            conf_infor: $('[name="conf_infor"]').val(),
            abstract: $('[name="abstract"]').val(),
            ps_price: $('[name="ps_price"]').val()
        }
        formData = JSON.stringify(formData);
        $.ajax({
            url: "{:U('index/add_goods')}",
            type: "post",
            dataType: "json",
            data: {priceWay:priceWay,data:formData},
            complete: function() {
                alert('添加成功');
                window.location.href = "{:U('index/goodslist')}";
            }
        })
    })
    function check() {
        var form = $('form');
        if(form.find("[name='name']").val() == '') {
            alert("请输入商品名!");
            return false;
        }
        if(form.find("[name='headline']").val() == ''){
            alert("请输入标题!");
            return false;
        }
        if(form.find("[name='conf_infor']").val() == ''){
            alert("请输入配置信息!"); 
            return false;
        }
        if(form.find("[name='abstract']").val() == ''){
            alert("请输入简介!");
            return false;
        }
        return true;
    }

</script>






