<div class="main-content">
      <div class="breadcrumbs" id="breadcrumbs">
    <script type="text/javascript">
      try{ace.settings.check('breadcrumbs' , 'fixed')}catch(e){}
    </script>

  <ul class="breadcrumb">
    <li>
        <a href="{:U('admin/index/main')}">首页</a>
    </li>
    <li class="active">达康健身器材管理后台</li>
            </ul><!-- .breadcrumb -->
  </div>

          <div class="page-content">
            <div class="page-header">
              <h1>
                达康健身器材共享
                <small>
                 >>
                   查看
                </small>
              </h1>
            </div><!-- /.page-header -->

            <div class="row">
              <div class="col-xs-12">
                <!-- PAGE CONTENT BEGINS -->

                <div class="alert alert-block alert-success">
                  <button type="button" class="close" data-dismiss="alert">
                    <i class="icon-remove"></i>
                  </button>

                  <i class="icon-ok green"></i>

                  欢迎使用
                  <strong class="green">
                    本虹客户管理系统
                  
                  </strong>
                  ,这里为你提供更更全面的信息管理. 
                </div>

                <!-- PAGE CONTENT ENDS -->
              </div><!-- /.col -->
            </div><!-- /.row -->
          </div><!-- /.page-content -->
</div><!-- /.main-content -->


<script type="text/javascript">
    $.ajax({
        'url' : '{:U("admin/index/warn_date")}',
        'dataType': 'json',
        'type' : 'post',
        success : function(data) {
          if(data != 0)
            alert('已有'+data+'张订单即将到期')
        }
      })
</script>