<div class="main-content">
    <div class="breadcrumbs" id="breadcrumbs">
        <script type="text/javascript">
            try{ace.settings.check('breadcrumbs' , 'fixed')}catch(e){}
        </script>
        <ul class="breadcrumb">
            <li>
                <a href="{:U('admin/index/main')}">首页</a>
            </li>
            <li class="active">订单表</li>
        </ul><!-- .breadcrumb -->
    </div>
    <br>
    <!-- <div class="add_cp"> -->
        <form method="get"  action="{:U('index/order')}" onsubmit="" id='subform'>
            <span style="margin:20px">
                <label>选择开始时间</label>
                <input type="text" name="start" id="start" value="">&nbsp;&nbsp;&nbsp;
                <label>选择结束时间</label>
                <input type="text" name="end" id="end" value="">
            </span>
            <span style="float:right;margin-right: 10%">总押金：{$money['deposit']}&nbsp;&nbsp;总租金：{$money['price']}&nbsp;&nbsp;总配送费：{$money['express']}</span>
            <br><br>
            <span style="margin:20px">
                客户催单&nbsp;<input name="prompt" type="checkbox" value="1">
            </span>
            <br><br>
            <span style="margin:10px">
                <span style="margin:10px">
                    <input type="radio" name='state' checked value="0">新订单
                </span>
                <span style="margin:10px">
                    <input type="radio" name='state' value="1">配送中
                </span>
                <span style="margin:10px">
                    <input type="radio" name='state' value="2">使用中
                </span>
                <!--  <span style="margin:10px">
                    <input type="radio" name='state' value="3">申请续租
                </span> -->
                <span style="margin:10px">
                    <input type="radio" name='state' value="4">申请取消订单
                </span>
               <!--  <span style="margin:10px">
                    <input type="radio" name='state' value="5">取消订单成功
                </span> -->
                <span style="margin:10px">
                    <input type="radio" name='state' value="6">申请还货
                </span>
                <span style="margin:10px">
                    <input type="radio" name='state' value="61">还货中
                </span>
                <span style="margin:10px">
                    <input type="radio" name='state' value="7">已还货
                </span>
                <span style="margin:10px">
                    <input type="radio" name='state' value="8">申请转租
                </span>
                <span style="margin:10px">
                    <input type="radio" name='state' value="9">转租成功
                </span>
                <span style="margin:10px">
                    <input type="radio" name='state' value="10">购买订单
                </span>
                <span style="margin:10px">
                    <input type="radio" name='state' value="finish">已完成
                </span>
                <span style="margin:10px">
                    <input type="radio" name='state' value="all">全部
                </span>
                <span style="margin:10px">
                    <input class="btn btn-default btn-xs sub" type="button" value="搜索" />
                </span>
            </span>
        </form>
    <!-- </div> -->
    <div class="table_con">
        <table>
            <tr class="tb_title">
                <td>订单号</td>
                <td>品名</td>
                <td>状态</td>
                <td>催单</td>
                <td>支付方式</td>
                <td>租金</td>
                <td>押金</td>
                <td>配送费</td>
                <td>来自转租</td>
                <td>转租给</td>
                <td>下单时间</td>
<!--                 <td>开始日期</td>
                <td>到期日期</td>
 -->                <td>用户</td>
                <!-- <td>收货人</td> -->
                <!-- <td>送货地址</td> -->
                <td>操作</td>
                <td>详情</td>
            </tr>
            <volist name="data" id="vo">
                <tr>     
                    <td id="order_id" value="{$vo['order_id']}"><center>{$vo['order_id']}</center></td>
                    <td value="{$vo['goods_name']}"><center>{$vo['goods_name']}</center></td>
                    <td value="{$vo['cur_state']}" id="state"><center>{$vo['state']}</center></td>
                    <td value="{$vo['prompt']}" id="prompt"><center><?= $vo['prompt'] == '1' ? '客户催单' : '未催单' ?></center></td>
                    <td value="{$vo['pay_for']}" id="pay_for"><center><?= $vo['pay_for'] == '1' ? '购买' : '租用' ?></center></td>
                    <td value="{$vo['price']}" id="price"><center>{$vo['price'] - $vo['express']}</center></td>
                    <td value="{$vo['deposit']}" id="deposit"><center>{$vo['deposit']}</center></td>
                    <td value="{$vo['express']}" id="express"><center>{$vo['express']}</center></td>
                    <td value="{$vo['exchange']}" id="exchange"><center><a href="{:U('admin/index/order_details',array('order_id' => $vo['exchange']))}"><label>{$vo['exchange']}</label></a></center></td>
                    <td value="{$vo['exchangeto']}" id="exchangeto"><center><a href="{:U('admin/index/order_details',array('order_id' => $vo['exchangeto']))}"><label>{$vo['exchangeto']}</label></a></center></td>
                    <td value="{$vo['or_time']}" id="or_time"><center>{$vo['or_time']}</center></td>
<!--                     <td value="{$vo['start']}" id="start"><center>{$vo['start']}</center></td>
                    <td value="{$vo['end']}" id="end"><center>{$vo['end']}</center></td> -->
                    <td value="{$vo['wxname']}" id="wxname"><center>{$vo['wxname']}</center></td>
                    <!-- <td value="{$vo['receiver']}" id="receiver">{$vo['receiver']}</td> -->
                    <!-- <td value="{$vo['addr']}" id="addr">{$vo['addr']}</td> -->
                    <td class="opreate" id="{$vo['delivery_id']}">
                        <a href="javascript:">
                            <center><?= empty($vo['delivery_name']) ? ($vo['cur_state'] == '0' || $vo['cur_state'] == '1' || $vo['cur_state'] == '6' || $vo['cur_state'] == '61') ? '指派配送' : '' : $vo['delivery_name'] ?></center>
                        </a>
                    </td>
                    <td>
                        <a class="sj_btn" href="{:U('admin/index/order_details',array('id' => $vo['id']))}"><center>订单详情</center></a>  
                    </td>
                </tr>
           </volist>
        </table>
       <div class="pagelist">{$page}</div>
    </div>
</div><!-- /.main-content -->
<script type="text/javascript">
    var date = '<?=json_encode($date)?>';
    var search_show = '<?=$search_show?>';
    var state = '<?=$state?>';
    if(state != '') {
        $(':radio:checked').removeAttr('checked');
        $(':radio[value="'+state+'"]').prop('checked',true);
    }
    if(search_show == 'false') {
        $('form').hide();
    }
    date = JSON.parse(date);
    $('#start').val(date.start);
    $('#end').val(date.end);
    laydate.render({
        elem: '#start',
    });
    laydate.render({
        elem: '#end',
    });
    // var state = '<?=$state?>';
    // if(state != '') {
    //     $('[name="state"]').val(state);
    // }
    $('.sub').click(function() {
        $('#subform').submit();
    })
    $('.opreate').on('click', function() {
        var tr = $(this).parent();
        var delivery_id = $(this).attr('id');
        var order_id = tr.find('#order_id').attr('value');
        var state = tr.find('#state').attr('value');
        if(state == '0' || state == '1' || state == '6' || state == '61') {
        // if(delivery_id != '') {
            // window.open('{:U("admin/index/delivery_details")}?id='+delivery_id+'&check=check','','width=800,height=400');
        // } else {
            // if($(this).find('center').text() != '') {
                window.open('{:U("admin/index/deliverylist")}?order_id='+order_id,'','width=800,height=400');
            // }
        // }
        }
    })
    $('.opreate').parent().on('click', function() {
        var tr = $(this);
        var state_title = tr.find('#state').text();
        var state = tr.find("#state").attr('value');
        var html = "<tr id='change_state'><td colspan='14'><label>当前状态：</label>"
                 + "<label value='"+state+"' id='cur_state'><button value='2' class ='btn btn-default btn-xs'>"+state_title+"</button></label>";
        // if(state == '0') {
        //     html += "<label> ---> </label>"
        //          + '<label><button value="1" class ="CState btn btn-success btn-xs">配送中</button></label></td></tr>';
        // }
        //  else if(state == '1') {
        //     html += "<label> -----> </label>"
        //          + '<label><button value="2" class ="CState btn btn-primary btn-xs">配送完成</button></label></td></tr>';
        // } 
        // else 
        if(state == '3') {
            html += "<label> -----> </label>"
                 + '<label><button value="2" class ="CState btn btn-primary btn-xs">配送完成</button></label></td></tr>';
        } else if(state == '4') {
            html += "<label> -----> </label>"
                 + '<label><button value="5" class ="CState btn btn-danger btn-xs">取消订单成功</button></label></td></tr>';
        } 
        // else if(state == '6') {
        //     html += "<label> -----> </label>"
        //          + '<label><button value="61" class ="CState btn btn-success btn-xs">还货中</button></label></td></tr>';
        // } 
        // else if(state == '61') {
        //     html += "<label> -----> </label>"
        //          + '<label><button value="7" class ="CState btn btn-primary btn-xs">还货完成(返还扣除配送费押金)</button></label></td></tr>';
        // }
        else if(state == '8') {
            html += "<label> -----> </label>"
                 + '<label><button value="9" class ="CState btn btn-primary btn-xs">同一小区转租</button></label>'
                 + '<label><button value="10" class ="CState btn btn-primary btn-xs">不同小区转租'
                 + '</button></label></td></tr>';
        } 
        if(tr.next().attr('id') == 'change_state') {
            tr.next().remove();
        } else {
            tr.after(html);
        }
    })
        $('body').on('click','.CState', function() {
            var tr = $(this).parent().parent().parent();
            var prev_tr = tr.prev();
            var state = $(this).attr('value');
            var prev_state = tr.find('#cur_state').attr('value');
            var paied = prev_tr.find('#paied').attr('value');
            var express = prev_tr.find('#express').attr('value');
            var order_id = prev_tr.find('#order_id').attr('value');
            var text = $(this).text();
            console.log(text);
            if(state == '5') {
                if(prev_state != '4') {
                    alert('该用户未有取消订单操作');
                    return;
                } else {
                    if(!confirm('是否向该用户退款')) {
                        return;
                    }
                }
            } else if(state == '10') {
                if(prev_state != '8') {
                    alert('该用户未有申请转租操作');
                    return;
                } else {
                    if(!confirm('是否向该用户返回全额押金')) {
                        return;
                    }
                }
            } else if(state == '9') {
                if(prev_state != '8') {
                    alert('该用户未有申请转租操作');
                    return;
                } else {
                    if(!confirm('是否向该用户返回押金')) {
                        return;
                    }
                }
            } else if(state == '7') {
                if(prev_state != '61') {
                    alert('该用户未有申请还货操作');
                    return;
                } else {
                    if(!confirm('是否向该用户返回押金')) {
                        return;
                    }
                }
            } else if(paied == '0') {
                alert('不能对用户进行该操作');
                return;
            }
            if(prev_state > state) {
                alert('不能对用户进行该操作');
                return;
            }
            if(confirm('是否确定执行该操作')) {
                $.ajax({
                    url: "{:U('index/change_state')}",
                    type: 'post',
                    dataType: 'json',
                    data: {state: state,order_id :order_id},
                    success: function(data) {
                        if(data == 'success') {
                            alert('修改成功');
                            // console.log(data);
                            tr.find('#cur_state').text(text);
                            prev_tr.find('#state').text(text);
                        } else {
                            alert(data);
                            if(data.error == '0') {
                                alert(data.msg);
                            }
                        }
                    }
                })
            }
        })

</script>