<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<meta name="format-detection" content="telephone=no">
		<link rel="stylesheet" href="__PUBLIC__/home/css/personal-data.css" />
		<link rel="stylesheet" href="__PUBLIC__/home/css/custom.css" />
		<script src="__PUBLIC__/home/js/jquery-1.12.2.min.js"></script>
		<script src="__PUBLIC__/home/js/ajaxfileupload.js"></script>
		<title>个人资料</title>
	</head>
	<script type="text/javascript">
		var pageStartTime = +new Date;
		~
		function(e) {
			function t() {
				var t = screen.width > 0 && (e.innerWidth >= screen.width || 0 == e.innerWidth) ? screen.width : e.innerWidth;
				a && (t = screen.width);
				var i = t > u ? w : t / (u / 100);
				i = i > h ? i : h, document.documentElement.style.fontSize = i + "px"
			}
			var i, n = e.navigator.userAgent,
				a = n.match(/iphone/i),
				o = n.match(/yixin/i),
				c = n.match(/Mb2345/i),
				r = n.match(/mso_app/i),
				s = n.match(/sogoumobilebrowser/gi),
				m = n.match(/liebaofast/i),
				d = n.match(/GNBR/i),
				u = document.documentElement.dataset.dw || 720
			h = 42,
				w = 100;
			e.addEventListener("resize", function() {
				clearTimeout(i), i = setTimeout(t, 300)
			}, !1), e.addEventListener("pageshow", function(e) {
				e.persisted && (clearTimeout(i), i = setTimeout(t, 300))
			}, !1), o || c || r || s || m || d ? setTimeout(function() {
				t()
			}, 500) : t()
		}(window);
	</script>
	<body>
		<form action="__URL__/xg_consumer" enctype="multipart/form-data" method="post" > 
		<div class="header pr">
			<a href="javascript:history.back(-1)" class="icon pa">
				<img src="__PUBLIC__/home/img/back1.png">
			</a>				
            <input style="background-color:#000;border:0"  class="pa over"  type="submit" value="完成" /> 
      
		</div>
		<div class="main">
			<div class="main-one">
				<p class="fl">更换图像</p>
				<p class="fr">
					<img class="head-pic" src="{$data['picture_url']}">
					<input style='display:none' name='upload_pic' id='upload_pic' onchange='upload($(this))' type='file' accept='image/gif,image/jpeg,image/jpg,image/png'>
				</p>
			</div>
			<div class="long-line"></div>
			<div class="main-two">
				<p class="fl">昵称</p>
				<p class="fr"><!-- <input type='text' name='wxname'> -->
					<input type="text" name="wxname" id="phone" class="username"  value='{$data['wxname']}'/>
				</p>
			</div>
			<div class="long-line"></div>
			<div class="main-two">
				<p class="fl">性别</p>
				<p class="fr">
					<select name="sex" id="sex" class="" >
					    <option value="1">男</option>
						<option value="0">女</option>
					</select>
				</p>
			</form>
			</div>
			<div class="long-line"></div>
			<div class="main-two phone-bind">
				<p class="fl">手机绑定</p>
				<p class="fr">{$data['tel']}</p>
			</div>
			<div class="long-line"></div>
			<div class="main-two true-name">
				<p class="fl">用户实名认证</p>
			</div>
		</div>		
	</body>
<!-- 	<include file='Wxjs/footer-menu'/> -->
	<script type="text/javascript">
		$('select').val("{$data['sex']}");
		$(document).ready(function(){
			$('.phone-bind').click(function(){
				window.location.href="{:U('home/index/bind_phone')}";
			});
			$('.true-name').click(function(){
				window.location.href="{:U('home/index/The_user_id')}";
			});
			$('.head-pic').click(function(){
				$('#upload_pic').click();
			});
		})	
		function upload(obj){
			$.ajaxFileUpload({
	            url: '__URL__/upload_pic',
	            secureuri: false,
	            fileElementId: 'upload_pic',
	            dataType: 'json',
	            complete: function(data,status) {
	                alert('上传成功');
	                window.location.href = '{:U("index/personal_data")}';
	            },
	            // error: function (data) {
	            // 	console.log(data);
	            //     alert("上传失败");
	            // }
    		});
		}
	</script>
</html>
