<div class="main-content">
    <div class="breadcrumbs" id="breadcrumbs">
        <script type="text/javascript">
          try{ace.settings.check('breadcrumbs' , 'fixed')}catch(e){}
        </script>
        <ul class="breadcrumb">
            <li>
                <a href="{:U('admin/index/main')}">首页</a>
            </li>
            <li class="active">个人信息</li>
        </ul><!-- .breadcrumb -->
</div>

    <div class="table_con">
    <form action="__URL__/addcoupon" enctype="multipart/form-data" method="post" >    
        <table>
        
        <!--    名字 :<input type="text" name="coupon_name" value="" /><br/>
        价格：<input type="text" name="price" value="" /><br/>
        <input type="file" name="photo" /> -->
            <input type="submit" value="提交" >
  
        </table>
    </form>
    </div>
</div><!-- /.main-content -->

<script>
/*function del(url){
if(confirm("确认删除吗")){
   window.location.href=url; 
  }
}*/
</script>






